section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50vh;
    transform: translateY(-50%);
}
section #left-col #logo {
    width: 300px;
}

.return-btn {
    background-color: var(--red-color);
    position: absolute;
    overflow: visible;
    color: black;
    border-radius: 500px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 18px 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
/*
login button border
*/
.return-btn:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: transparent 0px solid;
    border-radius: 500px;
    transition: all 200ms ease-in 0s;
}
/*
login button border onclick event
*/
.return-btn-modifier:after {
   display: block;
   content: '';
   position: absolute;
   top: -7px;
   left: -7px;
   right: -7px;
   bottom: -7px;
   border: black 4px solid;
   border-radius: 500px;
}

.return-btn:hover {
    transition: all 100ms ease-in;
    transform: scale(1.04);
    background-color: var(--darker-red-color);
}
