{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gettracks.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<script>
    const data = {{ data|tojson }}; // turn data from flask into js object

</script>
{% endblock %}

{% block body %} 
<nav id="top-navbar">
    <div id="logo-div">
        <img id="logo"src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
    </div>
    <form action="{{ url_for('getTracks') }}" method="post" id="search-menu">
        <input type="text" id="search-value" name="search-value" autocomplete="off" placeholder="Search on Spotify...">
        <select name="search-type" id="search-type">
            <option value="playlist">Playlist</option>
            <option value="track">Track</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
        </select>
        <a href="javascript:{}" id="search" onclick="document.querySelector('#search-menu').submit();">
            <span class="material-symbols-outlined">
                search
            </span>
        </a>
    </form>
    <div id="profile">
        <img id="profile-img" src="" alt="">
        <p id="profile-name">{{ data.display_name }}</p>
    </div>
</nav>

<main>
    {% if playlist %}
    <!-- <a class="download-btn" href="#">Download All</a> -->
    <section id="content">
    {% for song in playlist %}
        <div class="item">
            <img id="track-image"src="{{ song.track.album.images[0].url }}" alt="">
            <p id="artist-name"><b>Artist:</b> {{ song.track.album.artists[0].name }}</p>
            <p id="track-name"><b>Song name:</b> {{ song.track.name }}</p>
            <p id="album-name"><b>Album name:</b> {{ song.track.album.name }}</p>
            <a class="download-btn" href="/download?artist={{ song.track.album.artists[0].name }}&song={{ song.track.name }}" target="_blank">Download</a>
        </div>
    {%endfor%}
    </section>
    {% elif result %}
    <section id="soon">
        <h1>Coming soon!</h1>
    </section>
    {% endif %}
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/gettracks.js') }}"></script>
{% endblock %}